#! /usr/bin/env python3
# coding: utf-8
COOKIE_KEY = 'XXX'
COOKIE_VAL = ''
COOKIE = COOKIE_KEY+'='+COOKIE_VAL
COOKIE_DICT = {COOKIE_KEY: COOKIE_VAL}
URLS = {
    'prog':{
        '_langage-tester': {
            'problem':'https://',
            'solution':'https://',
        },
        'bars': {
            'problem':'https://',
            'solution':'https://',
        },
        'chess-master': 'https://',
        'mib': 'www.***.org',
    }
}
